@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,200;0,400;0,500;1,100&display=swap');


*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', Arial, Helvetica, sans-serif;
    background-color: #FCFFE7;
    color: #2B3467;
}

body{
    width: 100%;
    height: 100vh;
}


.container{
    display: grid;
    align-items: center;
    justify-content: center;
}

.logo{
    width: 100%;
    margin-bottom: 30px;
}

.logo h1{
    margin-left: 15px;
    font-size: 30px;
    color: #EB455F;
}

.intro{
    text-align: center;
}

span{
    color: #EB455F;
    font-weight: bold;
}

.intro h1{
    font-size: 50px;
    text-transform: uppercase;
}

.photo-lyrics{
    background-color: #FFFFFFFF;
    padding: 2px;
    padding-bottom: 0;
    margin-top: 20px;
}

.photo-lyrics img{
    width: 100%;
}

.code-intro{
    text-align: center;
    margin-top: 50px;
}

#tut{
    font-size: 15px;
    margin: 0;
}

.codes p{
    font-size: 14px;
}

.codes{
    margin-left: 10px;
    margin-top: 25px;
    width: 90%;
    border-radius: 7px;
    padding: 5px;
    border: 2px solid #2B3467;
}


footer{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 200px;
}

.icon{
    margin-left: 35px;
}

.icon i{
    background-color: #EB455F;
    font-size: 40px;
    padding: 10px;
    border-radius: 50px;
    margin-left: 10px;
    margin-bottom: 15px;

}

.socmed p{
    text-align: center;
    margin-bottom: 9px;
}
